<% include ../layouts/header/header %>
<% include ../layouts/navbar/navbar %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Login</h4>
                </div>
                <div class="card-body">
                    <form action='/login' method="post">
                        <div class='form-group'>
                            <label for='sebagai'>Sebagai</label><br>
                            <label>
                                <input type="radio" ng-model='sebagai' name='sebagai' value="mahasiswa" required> Mahasiswa
                            </label>
                            <label>
                                <input type="radio" ng-model='sebagai' name='sebagai' value="dosen"> Dosen
                            </label>
                        </div>
                        <div class='form-group'>
                            <label for='nim'>Nim</label>
                            <input class='form-control' name='nim' placeholder="8020160186" type='number' minlength='10' maxlength="10" required>
                        </div>
                        <div class='form-group'>
                            <label for='nim'>Password</label>
                            <input class='form-control' name='password' ng-model='password' placeholder="Password" type='password' required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type='submit'>Login</button>
                            <button class="btn btn-warning" type='reset'>Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>