<html ng-app='app'>
    <head>
        <title>Akademik</title>
        <link rel="stylesheet" href="/asset/css/app.css" />
        <link rel="stylesheet" href="/node/bootstrap/dist/css/bootstrap.min.css">
        <script src="/node/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node/angular/angular.min.js"></script>
        <script src='/asset/js/app.js'></script>
    </head>
    <body>